.projectek {
  margin: 2rem 1rem;
}

.munkak-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.munkak {
  height: 250px;
  width: auto;
  margin: 1rem;
  border-radius: 5px;
}
