
.skills{
    padding: 0 1rem;
    margin-top: 2rem;
}

.skill-title{
    margin: 1rem 0;
}

.scroll{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.skill-icon {
    height: 40px;
}

@media (min-width: 1000px) {
    .skills{
        margin-top: 1rem;
        display: flex;
        align-items: center;
        gap: 2rem;
    }
}